

<div class="row">
    <h1 class="col-12" 
    style="font-size: 20px;">SYSTEMS ADMIN</h1>
</div>


<div class="row"> 


    <div class="col-12 wide-menu">
        <a class="btn btn-primary btn-sm" href="url 'employee-list'">
            <i class="fa fa-home"></i> Manage Users</a>    
            
        <a class="btn btn-primary btn-sm" href="url 'list-rights'">
                <i class="fa fa-bars"></i> Rights</a> 

                    
        <a class="btn btn-primary btn-sm" href="'list-system-roles'">
                    <i class="fa fa-gears"></i> System Roles</a> 
    

        <!--
        <a  class="btn btn-primary btn-sm" href=""><i class="fa fa-angle-right"></i> Petty Cash</a>
        <a  class="btn btn-primary btn-sm" href=""><i class="fa fa-angle-right"></i> Banking</a>
        -->

        </div>


</div>

