
<div class="row page-header"> 

    <div class="col-12 wide-menu">
        <a class="btn btn-primary btn-sm" href="{% url 'hr:employee-list' %}">
            <i class="fa fa-home"></i> Manage Users</a>    
            
        <a class="btn btn-primary btn-sm" href="{% url 'sysadmin:list-rights' %}">
                <i class="fa fa-bars"></i> Rights</a> 

                    
        <a class="btn btn-primary btn-sm" href="{% url 'sysadmin:list-system-roles' %}">
                    <i class="fa fa-gears"></i> System Roles</a> 
     

        <!--
        <a  class="btn btn-primary btn-sm" href=""><i class="fa fa-angle-right"></i> Petty Cash</a>
        <a  class="btn btn-primary btn-sm" href=""><i class="fa fa-angle-right"></i> Banking</a>
        -->

        </div>


</div>

